# Path to your oh-my-zsh installation.
export HOME="{{ ansible_env['HOME'] }}"
export ZSH=$HOME/.oh-my-zsh
# Theme 
export COL="{{ theme_colour }}"
export DEFAULT_COL=$COL

ZSH_THEME="custom-minimal"

DISABLE_UNTRACKED_FILES_DIRTY="true"

# Plugins
plugins=(gitfast zsh-completions zsh-autosuggestions)
source ~/.oh-my-zsh/custom/plugins/fast-syntax-highlighting/F-Sy-H.plugin.zsh

autoload -U compinit && compinit

source $ZSH/oh-my-zsh.sh

# Aliases
alias ll='ls -l'
alias la='ls -la'
alias rr='rm -r'
alias rrf='rm -rf'
alias vim='nvim'
alias vi='vim'
# Add python bin to path
export PATH=$PATH:$HOME/.local/bin
